{% extends "home/templates/home_index.html" %}} {% block title %} Goals {%
endblock %} {% block body %}

<h1>Goals</h1>

This year we plan to expand software clubs activities and build upon previous
ones by

<ul>
  <li>Coding and hosting a function website.</li>
  <li>Recruiting more middle schoolers for the python course.</li>
  <li>
    Following the <a href="https://usaco.guide">USA Computing Olympiad Guide</a> weekly to
    prepare for competition.
  </li>
  <li>Incorporating new ideas from members.</li>
</ul>

{% endblock %}
