{% extends "home/templates/home_index.html" %}} {% block title %} Website {%
endblock %} {% block body %}

<div class="grid-container">
  <div class="flask"></div>
  <div class="css"></div>
  <div class="light-grey">
    <div class="grid-container-rows">
      <h1>Architecture</h1>
      <div class="website-text">
        <pre>aaaa</pre>
        <span
          >The website is composed of simple and easy to learn frameworks so
          everyone can have a go at it. With just a little bit of Python and
          HTML knowledge, you can program your own part of the website.
        </span>
      </div>
      <h1>Ideas</h1>
      <div class="website-text">
        <pre>aaaa</pre>
        You can create your own game, API wrapper, calculator, and anything you
        can think of. When the website has more content, we can even set up a
        Debian Server on a Raspberry Pi. All you have to do is join software
        club. The google classroom code is w7z4q56. Or scan the qr code below
      </div>
      <div class="qr"></div>

      <h1>Code</h1>
      <div class="website-text">
        <pre>aaaa</pre>
        Contribute code at
        <a href="https://github.com/AbingtonHeightsSoftwareClub/SoftwareClubWebsite">our Github Project</a>
      </div>
      
    </div>
  </div>
  <div class="html5"></div>
  <div class="js"></div>
</div>

{% endblock %}
