

pre{
  tab-size: 4;
  font-family: Arial, Helvetica, sans-serif;
  white-space:pre-line;
  display: inline;
  color: white;
  
}


body {
  width: 100%;
  height: 100%;
  margin: 0px;
  position: absolute;
}


#nav{
  color:white;
}

#grey {
  position: absolute;
  background-color: #444;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  text-align: center;
  align-items: center;
  height: 80%;
  gap: 0px;
}

.grid-container-rows {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

}

.wall{
  overflow: auto;
  height: 150vh;
  background-color: white;
  
}

.light-grey {
  background-color: #FFFFFF00;
  column-gap: 10px;
  text-align: center;
  align-items: center;
  height: 100%;
  
}

.flask {
  background-image: url(../img/Flask_logo.svg);
  background-size: 300px;
  background-size: 150px;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
}

.css {
  background-image: url(../img/CSS3_logo.svg);
  background-size: 150px;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
}

.html5 {
  background-image: url(../img/html-5-logo.svg);
  background-size: 150px;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
}

.js {
  background-image: url(../img/logo-javascript.svg);
  background-size: 150px;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
}

.qr {
  background-image: url(../img/qr-code.svg);
  background-size: 150px;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
}

.logo {
  background-image: url(../img/softwareClubLogoName.png);
  background-size: 80vh;
  width: 80vh;
  height: 80vh;
  background-repeat: no-repeat;
}

* {
  font-family: Arial;

  font-size:large;
}

.website-text {
  text-align: left;
  width: 75%;
  font-size:large;
}

